<%=f_name%>
what are your favorite colors?
<form method="post" action="colors">
	<input type="text" name="color1">
	<input type="text" name="color2">
	<input type="hidden" name="number_1" value="<%=number_1%>">
	<input type="hidden" name="number_2" value="<%=number_2%>">
	<input type="hidden" name="number_3" value="<%=number_3%>">
	<input type="hidden" name="food">
	<input type="hidden" name="drink">
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="age" value="<%=age%>">
	<input type="submit" value="timbus">
</form>